.pie {
    display: flex;
    width: 1280px;
    height: 50px;
    top: 1150px;
    background-color: var(--negro);
    justify-content: center;

}

.pie h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
    color: #fff;

}